.blog-body {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

.blog-header {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    font-family: "CirceBold", sans-serif;
    margin: 10px 0;
}

.posts {
    width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post {
    background-color: #cccccc;
    padding: 10px 20px;
    border-color: black;
    border-radius: 20px;
    border-style: solid;
    font-size: 20px;
    line-height: 1.3;
}
.post-header {
    text-align: center;
    font-size: 36px;
    margin: 10px;
    font-weight: bold;
}
.post-info {
    color: grey;
    text-align: right;
}
.blog-redirect-button-container {
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
}

button {
    font-family: "Verdana", sans-serif;
    padding: 10px;
    font-size: 24px;
}