@font-face {
    font-family: 'CirceBold';
    src: url('../fonts/Circe-Bold.otf'), url('../fonts/Circe-ExtraBold.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

html, body {
    width: 100%;
    height: 100%;
}

.header {
    background-color: #FEBB0C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: gainsboro;
    margin: 0;
    color: black;
    font-family: "Arial", serif;
    font-size: 16px;
    padding: 20px 0;
}

.footer-text-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
}

.header-left {
    display: flex;
    align-items: center;
    height: 100%;

}

.header-right {
    display: flex;
    align-items: center;
    height: 100%;

}

img {
    width: 64px;
    height: auto;
    padding: 5px;
}

.nav-button {
    color: black;
    font-family: "CirceBold", serif;
    padding: 0 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

.nav-button-text {
}

.nav-button:hover {
    background-color: #d79d08;
}

.footer-button {
    font-weight: normal;
    font-family: "Arial", serif;
    font-size: 24px;
}
.footer-button:hover {
    background-color: lightgray;
}

.no-decoration {
    text-decoration: none;
    margin: 0;
}
