body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.map-body {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.marker {
    background-color: rgba(169, 169, 169, 0.5);
    transition: background-color 0.3s ease;
    overflow: hidden;
    border-style: solid;
    border-radius: 10px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.marker:hover {
    background-color: rgba(169, 169, 169, 1);
}
.diner-marker {
    width: 30px;
    height: 30px;
}
.lyceum-marker {
    width: 32px;
    height: 32px;
}

.marker img {
    width: 80%;
    height: 80%;
    opacity: 1;
    transition: opacity 0.3s ease;

}

.highlighted {
    border-style: solid;
    border-radius: 10px;
    border-color: red;
    scale: 1.5;
    transition: scale 1s;
}

.map-header {
    text-align: center;
    font-size: 36px;
    font-family: "CirceBold", sans-serif;
}

#map {
    flex: 3;
    border-right: black;
    border-right-style: solid;
    border-right-width: 3px;
}

@keyframes jump {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.jumping-marker {
  animation: jump 1s;
}