body {
    display: flex;
    flex-direction: column;
}

.map-body {
    flex: 1;
    display: flex;
    flex-direction: row;

}

.marker {
    background-color: rgba(169, 169, 169, 0.5);
    transition: background-color 0.3s ease;
    overflow: hidden;
    border-style: solid;
    border-radius: 10px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.marker:hover {
    background-color: rgba(169, 169, 169, 1);
}
.diner-marker {
    width: 30px;
    height: 30px;
}
.lyceum-marker {
    width: 32px;
    height: 32px;
}

.marker img {
    width: 80%;
    height: 80%;
    opacity: 1;
    transition: opacity 0.3s ease;

}

.map-header {
    text-align: center;
    font-size: 36px;
    font-family: "Comic Sans MS", sans-serif;
    /*margin: 10px 0;*/
}

#map {
    flex: 3
}

