.side-panel {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f4f4f4;
    overflow: scroll;
    font-family: Verdana, sans-serif;
    /*max-height: 800px;*/
}

.side-panel-header-hidden-id {
    display: none;
}

.side-panel-header {
    font-family: CirceBold, sans-serif;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.side-panel-close-button {
    padding: 10px;
    border-style: none;
    border-radius: 5px;

}

.side-panel-header-text {
    flex: 1;
    text-align: center;
}

.official-review {
    margin-bottom: 15px;
    color: #1f1f1f;
    background-color: #cccccc;
    padding: 10px 20px;
    border-color: black;
    border-radius: 20px;
    border-style: solid;
}

.side-panel-subheader {
    font-family: CirceBold, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #333;
}
.lyceum-full-address {
    font-size: 24px;

}
.lyceum-areas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lyceum-areas ul {
}

.lyceum-area-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 24px;

}

.official-review-header {
    font-family: CirceBold, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #333;

}
.reviews {
    display: flex;
    flex-direction: column;
}
.reviews-header {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #333;
}
.no-reviews {

}

.reviews p {
    margin: 0;
}

.review-rating {
    font-weight: bold;
    margin-right: 5px;
    color: #3498db; /* Set the color for the review ratings */
}

/* Style the border between rating and review text */
.review-rating::after {
    content: '|';
    margin-left: 5px;
    margin-right: 5px;
    color: #aaa;
}

/* Add a subtle box shadow to the reviews */
.review-item {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: #fff;
    margin-bottom: 15px;
    font-size: 20px;

}

.review-form-header {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #333;
}

form {
    margin:20px auto;
}

.feedback-input {
    color: #000000;
    font-family: Verdana, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #f5b629;
    transition: all 0.3s;
    padding: 13px;
    width: 100%;
    box-sizing: border-box;
    outline:0;
}
.stars-label {
    color: #717171;
    font-family: Verdana, sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 13px 13px 0;
}

.feedback-input:focus {
    border:2px solid #FEBB0C;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

.submit-button {
    font-family: CirceBold, sans-serif;
    width: 100%;
    background:#f5b629;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color: #000000;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    margin-top: 15px;
    transition: all 0.3s;
}
.submit-button:hover { background:#FEBB0C; }

.stars {
    border:2px solid #f5b629;
    border-radius: 5px;
    margin: 15px 0;
}




/* Star rating black magic */
div.stars-bar {
    display: inline-block;
}

input.star { display: none; }

label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all .2s;
}

input.star:checked ~ label.star:before {
    content: '★';
    color: #FD4;
    transition: all .25s;
}

input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before {
    color: #F62;
}

label.star:hover {
    transform: rotate(-15deg) scale(1.3);
}

label.star:before {
  content: '★';
}
