<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/images/favicon.ico') }}">
    <script src="../static/javascript/insertHeaderFooter.js" defer></script>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/blog.css" />

    <title>Где Поесть? Блог</title>
</head>
<body>
    <div class="blog-body">
        <div class="blog-header">
            Наши Обзоры
        </div>
        <div class="posts">
            {% for post in posts %}
                {% autoescape false %}
                    <div class="post">
                        <p class="post-header"> {{ post['name'] }} </p>
                        <p class="post-info" > Обзор на {{ post['place_name'] }}, Автор: {{ post['author'] }}, Дата написания: {{ post['creation_date'] }}</p>
                        <p class="post-body"> {{ post['body_text'] }} </p>
                        <div class="blog-redirect-button-container"><button onclick="redirectToMap({{ post['diner_id'] }})">Открыть на карте</button></div>
                    </div>

                {% endautoescape %}
            {% endfor %}

        </div>
    </div>
    <script>
        function redirectToMap(dinerID) {
            console.log(dinerID)
            window.location.href = "/map?highlighted_diner_id=" + dinerID;
        }
    </script>
</body>
</html>
