<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/images/favicon.ico') }}">
    <script src="../static/javascript/insertHeaderFooter.js" defer></script>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />

    <title>Где Поесть? Домашняя Страница</title>
</head>
<body>
    <div class="index-body">
        <div class="about-us-header">
            Про нас и наш Проект
        </div>
        <div class="about-us-subheader">
            Расскажем, где вкусно поесть рядом с лицеем в вашем бюджете! <br>
            Расскажем, где посидеть после сдачи экзаменов! <br>
            Расскажем, куда сводить семью на новый год! <br>
            И многое другое!
        </div>
        <div class="about-us-body">
            На данный момент в рамках лицея и других проектов тема еды, особенно острая для новеньких в лицее, была не раз затронута, однако поверхностно и недостаточно информативно. Наш проект нацелен на полное решение дилеммы выбора на обеденных перерывах, обеспечение удобства нахождения информации по заведениям с точки зрения опыта, а не сухой выборки фактов, представленной на сайтах. Более того, мы рассказываем о том, куда сходить поесть не только в лицейское время, но и по тематическим праздникам, мероприятиям и другим причинам.
        </div>
    </div>
</body>
</html>